<!-- start nav -->
    <nav class="bg-white px-8 pt-2 shadow-md">
        <div class="-mb-px flex justify-center">
            <a class="no-underline text-teal-700 border-b-2 border-teal-800 uppercase tracking-wide font-bold text-xs py-3 mr-8"
                href="/index.html">Home</a>
            <a class="no-underline text-teal-700 border-b-2 border-teal-800 uppercase tracking-wide font-bold text-xs py-3 mr-8"
                href="/about.html">About</a>
            <a class="no-underline text-teal-700 border-b-2 border-teal-800 uppercase tracking-wide font-bold text-xs py-3 mr-8"
                href="/offres.html">Offres</a>
            <a class="no-underline text-teal-700 border-b-2 border-teal-800 uppercase tracking-wide font-bold text-xs py-3 mr-8"
                href="/offres.html">Offres</a>
        </div>
    </nav>
    <!-- end nav -->